#canvas {
  display: block;
  height: 600px;
  width: 800px;
  margin: 0 auto;
  position: relative;
  top: 150px;
}

.pixelRow {
  box-sizing: border-box;
  display: block;
  height: auto;
  width: auto;
  border: 0;
  margin: 0 auto;
  float: none;
  clear: both;
}

.pixel {
  box-sizing: border-box;
  display: inline-block;
  height: 25px;
  width: 25px;
  border: 1px solid #F1F1F3;
  margin: 0;
  float: left;
}

#palette {
  position: relative;
  width: 800px;
  height: 115px;
  margin: 0 auto;
  top: 175px;
}

.color {
  height: 50px;
  width: 50px;
  border-radius: 20%;
  margin: 3px;
  display: inline-block;;
}
