/* General */

/*header {
  width: 800px;
  margin: 50px auto;
}*/

h1 {
  font-family: 'VT323', sans-serif;
  font-size: 5em;
  color: grey;
  text-align: center;
}

/* Drawing Canvas */

#canvas {
  display: block;
  height: 600px;
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.pixelRow {
  box-sizing: border-box;
  display: block;
  height: auto;
  width: auto;
  border: 0;
  margin: 0 auto;
  float: none;
  clear: both;
}

.pixel {
  box-sizing: border-box;
  display: inline-block;
  height: 25px;
  width: 25px;
  border: 1px solid #F1F1F3;
  margin: 0;
  float: left;
}

/* Color Palette */

.color {
  height: 50px;
  width: 50px;
  border-radius: 20%;
  border: 1px solid #F1F1F3;
  margin: 3px;
  display: inline-block;;
}

.shadow {
  box-shadow: 2px 2px #E5E5E7, 0 0 1em #E5E5E7;
}

.current {
  height: 115px;
  width: 115px;
  margin-right: 5px;
}

.whiteBorder {
  border: none;
}

#palette {
  position: relative;
  width: 800px;
  height: 115px;
  margin: 0 auto;
  top: 50px;
}

.paletteCurrent {
  display: inline-block;
  float: left;
}

.paletteRows {
  width: 400px;
  float: left;
  display: inline-block;
}

.paletteRow {
  width: 400px;
  display: inline-block;
}
