#canvas {
  display: block;
  height: 600px;
  width: 800px;
  margin: 0 auto;
  position: relative;
  top: 150px;
}

.pixelRow {
  box-sizing: border-box;
  display: block;
  height: auto;
  width: auto;
  border: 0;
  margin: 0 auto;
  float: none;
  clear: both;
}

.pixel {
  box-sizing: border-box;
  display: inline-block;
  height: 25px;
  width: 25px;
  border: 1px solid #778899;
  margin: 0;
  float: left;
}
